.coaching {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 1599px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: rgba(108, 72, 0, 1);
}

.coaching .rectangle {
  top: 0px;
  height: 1608px;
  width: 1440px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.coaching .coachingcontent {
  background-color: rgba(255, 255, 255, 0);
  top: 231px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.coaching .boundless {
  background-color: rgba(255, 255, 255, 0);
  top: 41px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 114px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}
.coaching .asanontechnicale {
  background-color: rgba(255, 255, 255, 0);
  top: 440px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}

.coaching .rectanglecopy3 {
  background-color: rgba(255, 255, 255, 0.7);
  top: 251px;
  height: 86px;
  width: 134px;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.coaching .workwithus {
  background-color: rgba(255, 255, 255, 0);
  top: 262px;
  height: auto;
  width: 85px;
  position: absolute;
  margin: 0;
  left: 1321px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}
.coaching .linecopy5 {
  background-color: rgba(255, 255, 255, 0);
  top: 717px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.coaching .linecopy7 {
  background-color: rgba(255, 255, 255, 0);
  top: 105px;
  height: 2px;
  width: 63px;
  position: absolute;
  margin: 0;
  left: 1018px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.coaching .signupforcuratedcopy {
  background-color: rgba(255, 255, 255, 0);
  top: 816px;
  height: auto;
  width: 921px;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.coaching .joinouremailnewslcopy {
  background-color: rgba(255, 255, 255, 0);
  top: 1005px;
  height: auto;
  width: 810px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.coaching .quoralinkedintwittcopy {
  background-color: rgba(255, 255, 255, 0);
  top: 1226px;
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  left: 246px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 24px;
}
.coaching .rectanglecopy7 {
  background-color: rgba(255, 255, 255, 0);
  top: 1080px;
  height: 58px;
  width: 295px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.coaching .rectanglecopy8 {
  background-color: rgba(255, 255, 255, 0);
  top: 1080px;
  height: 58px;
  width: 485px;
  position: absolute;
  margin: 0;
  left: 541px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.coaching .rectanglecopy6 {
  background-color: rgba(255, 255, 255, 0);
  top: 1080px;
  height: 58px;
  width: 485px;
  position: absolute;
  margin: 0;
  left: 541px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.coaching .a2512018boundlessprocopy {
  background-color: rgba(255, 255, 255, 0);
  top: 1226px;
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  left: 929px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  line-height: 24px;
}

.coaching .rectanglecopy31 {
  background-color: rgba(252, 252, 252, 1);
  top: 1080px;
  height: 58px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 1032px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.coaching .signup {
  background-color: rgba(255, 255, 255, 0);
  color: #273135;
  top: 1079px;
  height: auto;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 1044px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  text-align: center;
  line-height: 31px;
}

.coaching .yourname {
  background-color: rgba(255, 255, 255, 0);
  top: 1090px;
  height: auto;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 254px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.coaching .email {
  background-color: rgba(255, 255, 255, 0);
  top: 1090px;
  height: auto;
  width: 206px;
  position: absolute;
  margin: 0;
  left: 558px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
