.headerNav {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0px;
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.headerNav .rectangle {
  background-color: transparent;
  top: 0px;
  height: 1608px;
  width: 1440px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.headerNav .headerNavcont {
  background-color: transparent;
  top: 231px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.headerNav .boundless {
  background-color: transparent;
  top: 41px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 114px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}
.headerNav .asanontechnicale {
  background-color: transparent;
  top: 440px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.headerNav .venturepartnerships {
  background-color: transparent;
  top: 71px;
  height: auto;
  width: 522px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.headerNav .rectanglecopy3 {
  background-color: transparent;
  top: 251px;
  height: 77px;
  width: 134px;
  position: absolute;
  margin: 0;
  left: 1306px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.headerNav .workwithus {
  background-color: transparent;
  top: 262px;
  height: auto;
  width: 85px;
  position: absolute;
  margin: 0;
  left: 1321px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}
.headerNav .linecopy5 {
  background-color: transparent;
  top: 717px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.headerNav .linecopy7 {
  background-color: transparent;
  top: 105px;
  height: 2px;
  width: 137px;
  position: absolute;
  margin: 0;
  left: 1100px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.headerNav .venturepartnershipscopy2 {
  background-color: transparent;
  top: 1153px;
  height: auto;
  width: 522px;
  position: absolute;
  margin: 0;
  left: 628px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.headerNav .signupforcuratedcopy {
  background-color: transparent;
  top: 816px;
  height: auto;
  width: 921px;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.headerNav .joinouremailnewslcopy {
  background-color: transparent;
  top: 942px;
  height: auto;
  width: 810px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.headerNav .quoralinkedintwittcopy2 {
  background-color: transparent;
  top: 1226px;
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  left: 246px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 24px;
}
.headerNav .rectanglecopy7 {
  background-color: transparent;
  top: 1030px;
  height: 58px;
  width: 295px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.headerNav .rectanglecopy8 {
  background-color: transparent;
  top: 1030px;
  height: 58px;
  width: 485px;
  position: absolute;
  margin: 0;
  left: 541px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.headerNav .a2512018boundlessprocopy2 {
  background-color: transparent;
  top: 1226px;
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  left: 929px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  line-height: 24px;
}
.headerNav .yournamecopy2 {
  background-color: transparent;
  top: 1037px;
  height: auto;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 254px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.headerNav .emailcopy2 {
  background-color: transparent;
  top: 1037px;
  height: auto;
  width: 206px;
  position: absolute;
  margin: 0;
  left: 558px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.headerNav .rectanglecopy31 {
  background-color: transparent;
  top: 1030px;
  height: 58px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 1032px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.headerNav .signup {
  background-color: transparent;
  top: 1038px;
  height: auto;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 1044px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: center;
  line-height: 31px;
}
