.venturepartnershippg {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 5249px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: rgba(76, 93, 34, 1);
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}

.venturepartnershippg.rectangle1 {
  top: 2131px;
  height: 470px;
  width: 966px;
  position: absolute;
  margin: 0;
  left: 238px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.rectanglecopy {
  top: 3185px;
  height: 470px;
  width: 966px;
  position: absolute;
  margin: 0;
  left: 238px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.putsomeexperienced {
  background-color: rgba(255, 255, 255, 0);
  top: 231px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.aventurepartnershi {
  background-color: rgba(255, 255, 255, 0);
  top: 798px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.ourventurepartners {
  background-color: rgba(255, 255, 255, 0);
  top: 1736px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.boundless {
  background-color: rgba(255, 255, 255, 0);
  top: 41px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 114px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.asanontechnicale {
  background-color: rgba(255, 255, 255, 0);
  top: 440px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.venturepartnerships1 {
  background-color: rgba(255, 255, 255, 0);
  top: 71px;
  height: auto;
  width: 522px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.venturepartnershippg.rectanglecopy3 {
  background-color: rgba(255, 255, 255, 0.7);
  top: 251px;
  height: 77px;
  width: 134px;
  position: absolute;
  margin: 0;
  left: 1306px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.workwithus {
  background-color: rgba(255, 255, 255, 0);
  top: 262px;
  height: auto;
  width: 85px;
  position: absolute;
  margin: 0;
  left: 1321px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}
.venturepartnershippg.aventurepartnershi1 {
  background-color: rgba(255, 255, 255, 0);
  top: 912px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 247px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.aventurepartnershi2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1877px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 247px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.thefoundersofslp {
  background-color: rgba(255, 255, 255, 0);
  top: 2649px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.thefoundersofpart {
  background-color: rgba(255, 255, 255, 0);
  top: 3687px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.linecopy5 {
  background-color: rgba(255, 255, 255, 0);
  top: 717px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.linecopy8 {
  background-color: rgba(255, 255, 255, 0);
  top: 1634px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.bitmap {
  background-color: rgba(255, 255, 255, 0);
  top: 2153px;
  height: 401px;
  width: 873px;
  position: absolute;
  margin: 0;
  left: 281px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.linecopy7 {
  background-color: rgba(255, 255, 255, 0);
  top: 105px;
  height: 2px;
  width: 161px;
  position: absolute;
  margin: 0;
  left: 840px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.linecopy6 {
  background-color: rgba(255, 255, 255, 0);
  top: 4351px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.venturepartnershipscopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 4801px;
  height: auto;
  width: 522px;
  position: absolute;
  margin: 0;
  left: 628px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.venturepartnershippg.signupforcuratedcopy {
  background-color: rgba(255, 255, 255, 0);
  top: 4464px;
  height: auto;
  width: 921px;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.joinouremailnewslcopy {
  background-color: rgba(255, 255, 255, 0);
  top: 4590px;
  height: auto;
  width: 810px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.quoralinkedintwittcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 4874px;
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  left: 246px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 24px;
}
.venturepartnershippg.rectanglecopy7 {
  background-color: rgba(255, 255, 255, 0);
  top: 4678px;
  height: 58px;
  width: 295px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.rectanglecopy8 {
  background-color: rgba(255, 255, 255, 0);
  height: 58px;
  width: 485px;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.a2512018boundlessprocopy2 {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  line-height: 24px;
}
.venturepartnershippg.yournamecopy2 {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 254px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.emailcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 4685px;
  height: auto;
  width: 206px;
  position: absolute;
  margin: 0;
  left: 558px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.groupcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 4678px;
  height: 58px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 1032px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.groupcopy2 .rectanglecopy31 {
  background-color: rgba(252, 252, 252, 1);
  top: 0px;
  height: 58px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.groupcopy2 .signup {
  background-color: rgba(255, 255, 255, 0);
  top: 8px;
  height: auto;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 12px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: center;
  line-height: 31px;
}
.venturepartnershippg.group33 {
  background-color: rgba(255, 255, 255, 0);
  top: 3254px;
  height: 330px;
  width: 476px;
  position: absolute;
  margin: 0;
  left: 481px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 182px;
  width: 211px;
  position: absolute;
  margin: 0;
  left: 145px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .group5 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 100px;
  position: absolute;
  margin: 0;
  left: 376px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .group5 .group51 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 78px;
  width: 100px;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .group8 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 100px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .group8 .group81 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 78px;
  width: 100px;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill9 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 301px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill11 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 289px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill13 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 40px;
  position: absolute;
  margin: 0;
  left: 361px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill15 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 403px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill17 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 31px;
  position: absolute;
  margin: 0;
  left: 445px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill19 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 31px;
  position: absolute;
  margin: 0;
  left: 332px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill21 {
  background-color: rgba(255, 255, 255, 0);
  top: 160px;
  height: 23px;
  width: 18px;
  position: absolute;
  margin: 0;
  left: 349px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill23 {
  background-color: rgba(255, 255, 255, 0);
  top: 169px;
  height: 2px;
  width: 2px;
  position: absolute;
  margin: 0;
  left: 352px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill25 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 96px;
  position: absolute;
  margin: 0;
  left: 104px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill27 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 206px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill29 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 250px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.group33 .fill31 {
  background-color: rgba(255, 255, 255, 0);
  top: 54px;
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0;
  left: 202px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.venturepartnershippg {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 5249px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: rgba(255, 255, 255, 1);
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}

.venturepartnershippg.rectangle1 {
  top: 2131px;
  height: 470px;
  width: 966px;
  position: absolute;
  margin: 0;
  left: 238px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.rectanglecopy {
  top: 3185px;
  height: 470px;
  width: 966px;
  position: absolute;
  margin: 0;
  left: 238px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg.putsomeexperienced {
  background-color: rgba(255, 255, 255, 0);
  top: 231px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.aventurepartnershi {
  background-color: rgba(255, 255, 255, 0);
  top: 798px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.ourventurepartners {
  background-color: rgba(255, 255, 255, 0);
  top: 1736px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.boundless {
  background-color: rgba(255, 255, 255, 0);
  top: 41px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 114px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg.asanontechnicale {
  background-color: rgba(255, 255, 255, 0);
  top: 440px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg.venturepartnerships1 {
  background-color: rgba(255, 255, 255, 0);
  top: 71px;
  height: auto;
  width: 522px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.venturepartnershippg.rectanglecopy3 {
  background-color: rgba(255, 255, 255, 0.7);
  top: 251px;
  height: 77px;
  width: 134px;
  position: absolute;
  margin: 0;
  left: 1306px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.workwithus {
  background-color: rgba(255, 255, 255, 0);
  top: 262px;
  height: auto;
  width: 85px;
  position: absolute;
  margin: 0;
  left: 1321px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}
.aventurepartnershi1 {
  background-color: rgba(255, 255, 255, 0);
  top: 912px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 247px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.aventurepartnershi2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1877px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 247px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.thefoundersofslp {
  background-color: rgba(255, 255, 255, 0);
  top: 2649px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.thefoundersofpart {
  background-color: rgba(255, 255, 255, 0);
  top: 3687px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
