.venturepartnershippg {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 5249px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: rgba(76, 93, 34, 1);
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}

.venturepartnershippg .asanontechnicale {
  background-color: rgba(255, 255, 255, 0);
  top: 440px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 242px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .venturepartnerships1 {
  background-color: rgba(255, 255, 255, 0);
  top: 71px;
  height: auto;
  width: 522px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.venturepartnershippg .rectanglecopy3 {
  background-color: rgba(255, 255, 255, 0.7);
  top: 251px;
  height: 77px;
  width: 134px;
  position: absolute;
  margin: 0;
  left: 1306px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.venturepartnershippg .workwithus {
  background-color: rgba(255, 255, 255, 0);
  top: 262px;
  height: auto;
  width: 85px;
  position: absolute;
  margin: 0;
  left: 1321px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}

.venturepartnershippg .aventurepartnershi1 {
  background-color: rgba(255, 255, 255, 0);
  top: 912px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 247px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}

.venturepartnershippg .aventurepartnershi2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1877px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 247px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.thefoundersofslp {
  background-color: rgba(255, 255, 255, 0);
  top: 2649px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.thefoundersofpart {
  background-color: rgba(255, 255, 255, 0);
  top: 3687px;
  height: auto;
  width: 959px;
  position: absolute;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
