

.blue {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2605px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.blue .rectangle {
  background-color    : rgba(61, 90, 102, 1.0);
  top                 : 0px;
  height              : 2616px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .rectangle1 {
  background-color    : rgba(49, 69, 77, 1.0);
  top                 : 909px;
  height              : 42px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .rectanglecopy2 {
  background-color    : rgba(49, 69, 77, 1.0);
  top                 : 963px;
  height              : 42px;
  width               : 435px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .rectanglecopy3 {
  background-color    : rgba(49, 69, 77, 1.0);
  top                 : 1021px;
  height              : 42px;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .rectanglecopy4 {
  background-color    : rgba(49, 69, 77, 1.0);
  top                 : 1078px;
  height              : 42px;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .weboostideasinto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.blue .askboundless {
  background-color    : rgba(255,255,255,0.0);
  top                 : 798px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 64.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.blue .overadecadeofbui {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1204px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 64.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.blue .ittakesmorethana {
  background-color    : rgba(255,255,255,0.0);
  top                 : 529px;
  height              : auto;
  width               : 959px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.blue .weu2019dlovetotalkto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2038px;
  height              : auto;
  width               : 810px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.blue .quoralinkedintwitt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2281px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.blue .a2512018boundlesspro {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2281px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 1105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.blue .yourname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2127px;
  height              : auto;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.blue .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2127px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 437px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.blue .phoneoptional {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2127px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 824px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.blue .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1953px;
  height              : 2px;
  width               : 1221px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .wevebeenbuilding {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1295px;
  height              : auto;
  width               : 959px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.blue .wevebeenbuilding .span1 {
  line-height         : 31.0px;
}
.blue .wevebeenbuilding .span2 {
  font-size           : 48.0px;
  line-height         : 58.0px;
}
.blue .wevebeenbuilding .span3 {
  line-height         : 31.0px;
}
.blue .wevebeenbuilding .span4 {
  font-size           : 48.0px;
  line-height         : 58.0px;
}
.blue .wevebeenbuilding .span5 {
  line-height         : 31.0px;
}
.blue .wevebeenbuilding .span6 {
  line-height         : 31.0px;
  text-decoration     : underline;
}
.blue .wevebeenbuilding .span7 {
  line-height         : 31.0px;
}
.blue .wevebeenbuilding .span8 {
  line-height         : 31.0px;
  text-decoration     : underline;
}
.blue .wevebeenbuilding .span9 {
  line-height         : 31.0px;
}
.blue .venturepartnerships {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.blue .logotop {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 32px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .wheredoistartwit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 901px;
  height              : auto;
  width               : 676px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 56.0px;
  text-decoration     : underline;
}
.blue .wheredoistartwit .span1 {
  
}
.blue .wheredoistartwit .span2 {
  
}
.blue .wheredoistartwit .span3 {
  
}
.blue .wheredoistartwit .span4 {
  
}
.blue .wheredoistartwit .span5 {
  
}
.blue .wheredoistartwit .span6 {
  
}
.blue .wheredoistartwit .span7 {
  
}
.blue .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .rectanglecopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 378px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .rectanglecopy41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 378px;
  position            : absolute;
  margin              : 0;
  left                : 809px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 1197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .group .rectanglecopy31 {
  background-color    : rgba(252, 252, 252, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.blue .group .send {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}