

.coaching {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1599px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.coaching .rectangle {
  background-color    : rgba(108, 72, 0, 1.0);
  top                 : 0px;
  height              : 1608px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.coaching .coachingcontent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 231px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(255, 255, 255, 0.7);
  text-align          : left;
  line-height         : 90.0px;
}
.coaching .boundless {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.coaching .asanontechnicale {
  background-color    : rgba(255,255,255,0.0);
  top                 : 440px;
  height              : auto;
  width               : 959px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.coaching .venturepartnerships {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : right;
  line-height         : 22.0px;
}
.coaching .rectanglecopy3 {
  background-color    : rgba(255, 255, 255, 0.7);
  top                 : 251px;
  height              : 77px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 1306px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.coaching .workwithus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 262px;
  height              : auto;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 1321px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : right;
  line-height         : 27.0px;
}
.coaching .linecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 717px;
  height              : 2px;
  width               : 1221px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.coaching .linecopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : 2px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 1018px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.coaching .venturepartnershipscopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1153px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : right;
  line-height         : 22.0px;
}
.coaching .signupforcuratedcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 816px;
  height              : auto;
  width               : 921px;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(255, 255, 255, 0.7);
  text-align          : left;
  line-height         : 90.0px;
}
.coaching .joinouremailnewslcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 942px;
  height              : auto;
  width               : 810px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.coaching .quoralinkedintwittcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1226px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 246px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.coaching .rectanglecopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1030px;
  height              : 58px;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.coaching .rectanglecopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1030px;
  height              : 58px;
  width               : 485px;
  position            : absolute;
  margin              : 0;
  left                : 541px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.coaching .a2512018boundlessprocopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1226px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 929px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.coaching .yournamecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1037px;
  height              : auto;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 254px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.coaching .emailcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1037px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 558px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.coaching .rectanglecopy31 {
  background-color    : rgba(252, 252, 252, 1.0);
  top                 : 1030px;
  height              : 58px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 1032px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.coaching .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1038px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 1044px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}