

.darkpaginated03 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1050px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.darkpaginated03 .rectangle {
  background-color    : rgba(37, 49, 53, 1.0);
  top                 : 0px;
  height              : 1050px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated03 .overadecadeofbui {
  background-color    : rgba(255,255,255,0.0);
  top                 : 210px;
  height              : auto;
  width               : 934px;
  position            : absolute;
  margin              : 0;
  left                : 244px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(209, 211, 212, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.darkpaginated03 .boundless {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.darkpaginated03 .venturepartnerships {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : right;
  line-height         : 22.0px;
}
.darkpaginated03 .checkcircleblankcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated03 .checkcircleoutlineblankcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 403px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated03 .checkcircleoutlineblankcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 432px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated03 .checkcircleoutlineblankcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 491px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated03 .chevronleft {
  background-color    : rgba(255,255,255,0.0);
  top                 : 524px;
  height              : 27px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 1333px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.darkpaginated03 .chevronleftcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 368px;
  height              : 27px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 1333px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.darkpaginated03 .wevebeenbuilding {
  background-color    : rgba(255,255,255,0.0);
  top                 : 347px;
  height              : auto;
  width               : 959px;
  position            : absolute;
  margin              : 0;
  left                : 247px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.darkpaginated03 .wevebeenbuilding .span1 {
  line-height         : 31.0px;
}
.darkpaginated03 .wevebeenbuilding .span2 {
  font-size           : 48.0px;
  line-height         : 58.0px;
}
.darkpaginated03 .wevebeenbuilding .span3 {
  line-height         : 31.0px;
}
.darkpaginated03 .wevebeenbuilding .span4 {
  font-size           : 48.0px;
  line-height         : 58.0px;
}
.darkpaginated03 .wevebeenbuilding .span5 {
  line-height         : 31.0px;
}
.darkpaginated03 .wevebeenbuilding .span6 {
  line-height         : 31.0px;
  text-decoration     : underline;
}
.darkpaginated03 .wevebeenbuilding .span7 {
  line-height         : 31.0px;
}
.darkpaginated03 .wevebeenbuilding .span8 {
  line-height         : 31.0px;
  text-decoration     : underline;
}
.darkpaginated03 .wevebeenbuilding .span9 {
  line-height         : 31.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}