

.darkpaginated01 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 900px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.darkpaginated01 .rectangle {
  background-color    : rgba(37, 49, 53, 1.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .weboostideasinto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 378px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(209, 211, 212, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.darkpaginated01 .boundless {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.darkpaginated01 .ittakesmorethana {
  background-color    : rgba(255,255,255,0.0);
  top                 : 587px;
  height              : auto;
  width               : 959px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(174, 178, 180, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.darkpaginated01 .venturepartnerships {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : right;
  line-height         : 22.0px;
}
.darkpaginated01 .group77 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 173px;
  height              : 194px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.darkpaginated01 .group77 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 146px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 148px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 137px;
  height              : 43px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : 43px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 68px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 69px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 68px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 69px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 52px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 52px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 63px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 65px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 101px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 103px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 112px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : 114px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 130px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 132px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 33px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 35px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 21px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 23px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke55 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke59 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke63 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill65 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke67 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill69 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 87px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke71 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .fill73 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 129px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .group77 .stroke75 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 130px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .checkcircleblank {
  background-color    : rgba(255,255,255,0.0);
  top                 : 404px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .checkcircleoutlineblank {
  background-color    : rgba(255,255,255,0.0);
  top                 : 433px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .checkcircleoutlineblankcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .checkcircleoutlineblankcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 491px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated01 .chevronleft {
  background-color    : rgba(255,255,255,0.0);
  top                 : 524px;
  height              : 27px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 1333px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}