

.darkpaginated04 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 900px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.darkpaginated04 .rectangle {
  background-color    : rgba(37, 49, 53, 1.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .letu2019sgetstarted {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : auto;
  width               : 738px;
  position            : absolute;
  margin              : 0;
  left                : 248px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(209, 211, 212, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.darkpaginated04 .boundless {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.darkpaginated04 .venturepartnerships {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : right;
  line-height         : 22.0px;
}
.darkpaginated04 .checkcircleblankcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 490px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .checkcircleoutlineblankcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .checkcircleoutlineblankcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 403px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .checkcircleoutlineblankcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 431px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1330px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .chevronleftcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 368px;
  height              : 27px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 1333px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.darkpaginated04 .shareyourcontacti {
  background-color    : rgba(255,255,255,0.0);
  top                 : 323px;
  height              : auto;
  width               : 810px;
  position            : absolute;
  margin              : 0;
  left                : 252px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.darkpaginated04 .quoralinkedintwitt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 517px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 258px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.darkpaginated04 .a2512018boundlesspro {
  background-color    : rgba(255,255,255,0.0);
  top                 : 517px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 941px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.darkpaginated04 .yourname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 397px;
  height              : auto;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 266px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.darkpaginated04 .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 397px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 503px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.darkpaginated04 .phoneoptional {
  background-color    : rgba(255,255,255,0.0);
  top                 : 397px;
  height              : auto;
  width               : 184px;
  position            : absolute;
  margin              : 0;
  left                : 841px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.darkpaginated04 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 390px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 252px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 390px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .rectanglecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 390px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 214px;
  position            : absolute;
  margin              : 0;
  left                : 826px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 390px;
  height              : 58px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 1044px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .group .rectanglecopy3 {
  background-color    : rgba(252, 252, 252, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.darkpaginated04 .group .send {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}