

.dark {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2605px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.dark .rectangle {
  background-color    : rgba(37, 49, 53, 1.0);
  top                 : 0px;
  height              : 2616px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .weboostideasinto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 92.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.dark .askboundless {
  background-color    : rgba(255,255,255,0.0);
  top                 : 798px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 64.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.dark .overadecadeofbui {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1204px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 64.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 90.0px;
}
.dark .ittakesmorethana {
  background-color    : rgba(255,255,255,0.0);
  top                 : 529px;
  height              : auto;
  width               : 959px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.dark .weu2019dlovetotalkto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2038px;
  height              : auto;
  width               : 810px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.dark .quoralinkedintwitt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2281px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.dark .a2512018boundlesspro {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2281px;
  height              : auto;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 1105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.dark .yourname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2127px;
  height              : auto;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.dark .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2127px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 437px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.dark .phoneoptional {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2127px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 824px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.dark .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1953px;
  height              : 2px;
  width               : 1221px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .wevebeenbuilding {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1295px;
  height              : auto;
  width               : 959px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.dark .wevebeenbuilding .span1 {
  line-height         : 31.0px;
}
.dark .wevebeenbuilding .span2 {
  font-size           : 48.0px;
  line-height         : 58.0px;
}
.dark .wevebeenbuilding .span3 {
  line-height         : 31.0px;
}
.dark .wevebeenbuilding .span4 {
  font-size           : 48.0px;
  line-height         : 58.0px;
}
.dark .wevebeenbuilding .span5 {
  line-height         : 31.0px;
}
.dark .wevebeenbuilding .span6 {
  line-height         : 31.0px;
  text-decoration     : underline;
}
.dark .wevebeenbuilding .span7 {
  line-height         : 31.0px;
}
.dark .wevebeenbuilding .span8 {
  line-height         : 31.0px;
  text-decoration     : underline;
}
.dark .wevebeenbuilding .span9 {
  line-height         : 31.0px;
}
.dark .venturepartnerships {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.dark .logotop {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 32px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .wheredoistartwit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 901px;
  height              : auto;
  width               : 676px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : left;
  line-height         : 56.0px;
  text-decoration     : underline;
}
.dark .wheredoistartwit .span1 {
  
}
.dark .wheredoistartwit .span2 {
  
}
.dark .wheredoistartwit .span3 {
  
}
.dark .wheredoistartwit .span4 {
  
}
.dark .wheredoistartwit .span5 {
  
}
.dark .wheredoistartwit .span6 {
  
}
.dark .wheredoistartwit .span7 {
  
}
.dark .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 78px;
  box-sizing          : border-box;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(252, 252, 252, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 378px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .rectanglecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  box-sizing          : border-box;
  width               : 378px;
  position            : absolute;
  margin              : 0;
  left                : 809px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(151, 151, 151, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2120px;
  height              : 58px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 1197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group .rectanglecopy3 {
  background-color    : rgba(252, 252, 252, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group .send {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(252, 252, 252, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.dark .group77 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 327px;
  height              : 256px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 1166px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.3;
}
.dark .group77 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 193px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 195px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 181px;
  height              : 57px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 57px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 87px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : 90px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : 91px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : 90px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : 91px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : 69px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : 69px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 104px;
  height              : 83px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : 85px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 133px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 135px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 148px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 150px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 172px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke35 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 174px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke39 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill45 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 44px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 46px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 28px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 30px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke55 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill57 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke59 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke63 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill65 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke67 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 106px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill69 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke71 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .fill73 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 170px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dark .group77 .stroke75 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 171px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}