<div>
  <div class="appDevTitle row mx-0 px-0">
    <div class="col-12 col-sm-10 offset-2">App Development<br />content.</div>
  </div>
  <div class="row asanontechnicale">
    <div class="col-8 col-sm-6 offset-2">
      As a non-technical entrepreneur, finding a good technology partner is
      grueling. You have the domain expertise and customer connections, but the
      tech pieces are a black box. It seems as though every technology expert
      you contact has a different solution and different pricing in mind, and
      you don't know who to trust. We're here to help. Ease your pain with our
      proven experience, a better relationship, and Lean methodologies that let
      you work your hustle to build your company right.
    </div>
  </div>
  <hr class="midLine" />
</div>
