<nav class="bottomNav">
    <div class="navBottomCopy">
        {% assign navigation_pages = site.pages | sort: 'nav_order' %}
        {% for p in navigation_pages %}
        {% if p.nav_order %}
        <a href="{{ p.url | prepend: site.baseurl }}" {% if p.url==page.url %}class="active" {% endif %}>
            {{ p.title }}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="quoralinkedintwittcopy">
        <a class="footerLink" href="https://in.linkedin.com/company/boundless-automation-llc">
            Quora
        </a>
        <a class="footerLink" href="https://in.linkedin.com/company/boundless-automation-llc">
            LinkedIn
        </a>
        <br />
        <a class="footerLink" href="https://in.linkedin.com/company/boundless-automation-llc">
            Twitter
        </a>
        <br />
        <a class="footerLink" href="https://in.linkedin.com/company/boundless-automation-llc">
            Google+
        </a>
        <br />
        <a class="footerLink" href="https://in.linkedin.com/company/boundless-automation-llc">
            Medium
        </a>
        <br />
        <a class="footerLink" href="https://in.linkedin.com/company/boundless-automation-llc">
            Email
        </a>
    </div>    
    <div class="a2512018boundlessprocopy">
        © 2018 BOUNDLESS<br />Proudly owned and operated in<br />Phoenix, Arizona<br /><br />522
        North Central Ave #292<br />Phoenix, AZ 85001
    </div>
</nav>