<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="{{ site.description }}" />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="{{
    "/style.css" | prepend: site.baseurl
  }}">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{{
    "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl
  }}">
  <link
    href="https://fonts.google.com/specimen/Barlow+Condensed"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    rel="stylesheet"
    type="text/css"
  />
  <script>
    anima_isHidden = function(e) {
      if (!(e instanceof HTMLElement)) return !1;
      if (getComputedStyle(e).display == "none") return !0;
      else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
      return !1;
    };
    anima_loadAsyncSrcForTag = function(tag) {
      var elements = document.getElementsByTagName(tag);
      var toLoad = [];
      for (var i = 0; i < elements.length; i++) {
        var e = elements[i];
        var src = e.getAttribute("src");
        var loaded =
          src != undefined &&
          src.length > 0 &&
          src !=
            "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
        if (loaded) continue;
        var asyncSrc = e.getAttribute("anima-src");
        if (asyncSrc == undefined || asyncSrc.length == 0) continue;
        if (anima_isHidden(e)) continue;
        toLoad.push(e);
      }
      toLoad.sort(function(a, b) {
        return anima_getTop(a) - anima_getTop(b);
      });
      for (var i = 0; i < toLoad.length; i++) {
        var e = toLoad[i];
        var asyncSrc = e.getAttribute("anima-src");
        e.setAttribute("src", asyncSrc);
      }
    };
    anima_pauseHiddenVideos = function(tag) {
      var elements = document.getElementsByTagName("video");
      for (var i = 0; i < elements.length; i++) {
        var e = elements[i];
        var isPlaying = !!(
          e.currentTime > 0 &&
          !e.paused &&
          !e.ended &&
          e.readyState > 2
        );
        var isHidden = anima_isHidden(e);
        if (
          !isPlaying &&
          !isHidden &&
          e.getAttribute("autoplay") == "autoplay"
        ) {
          e.play();
        } else if (isPlaying && isHidden) {
          e.pause();
        }
      }
    };
    anima_loadAsyncSrc = function(tag) {
      anima_loadAsyncSrcForTag("img");
      anima_loadAsyncSrcForTag("iframe");
      anima_loadAsyncSrcForTag("video");
      anima_pauseHiddenVideos();
    };
    var anima_getTop = function(e) {
      var top = 0;
      do {
        top += e.offsetTop || 0;
        e = e.offsetParent;
      } while (e);
      return top;
    };
    anima_loadAsyncSrc();
    anima_old_onResize = window.onresize;
    anima_new_onResize = undefined;
    anima_updateOnResize = function() {
      if (
        anima_new_onResize == undefined ||
        window.onresize != anima_new_onResize
      ) {
        anima_new_onResize = function(x) {
          if (anima_old_onResize != undefined) anima_old_onResize(x);
          anima_loadAsyncSrc();
        };
        window.onresize = anima_new_onResize;
        setTimeout(function() {
          anima_updateOnResize();
        }, 3000);
      }
    };
    anima_updateOnResize();
    setTimeout(function() {
      anima_loadAsyncSrc();
    }, 200);
  </script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
