<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Plain Description -->
  <title>
    {% if page.title %}{{ page.title }} | {% endif %}{{
      site.data.global.title
    }}
  </title>

  <link rel="icon" type="image/png" href={{
    "/favicon.png" | prepend: site.baseurl
  }}>
  <!-- CSS -->
  <link rel="stylesheet" href={{
    "/css/style.css" | prepend: site.baseurl
  }}>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  />
  <!-- RSS stuff -->
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{
    site.title
  }}" href="{{
    "/feed.xml" | prepend: site.baseurl | prepend: site.url
  }}" />
</head>
