<!-- Navigation -->
<nav>
  <div class="home">
    <div style="width: 1440px; position:relative; margin:auto;">
      <div class="rectangle"></div>
      <div class="boundless">{{ page.lead - in }}</div>
      <div class="venturepartnerships">
        {{ page.vp1 }} {{ page.vp2 }} {{ page.vp3 }} {{ page.vp4 }}
        {{ page.vp5 }}
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
