<div>
  <div class="row helpingpeoplegrow topContent mx-0 px-0">
    <p class="home-construction col-10 offset-2">
      <img src="/assets/img/home-group-134-copy.png" class="offset-1" />
    </p>
    <div class="col-10 offset-2">
      Helping people grow ideas<br />into sustainable companies.
    </div>
  </div>
  <div class="row ittakesmorethana">
    <div class="col-6 offset-2">
      It takes more than a great technology idea to build a great company. An
      idea is a catalyst, but great companies turn that idea into a sustainable
      business model. Sustainable companies focus on revenue from day one, they
      aspire to delight customers, grow in a controlled way, and improve
      economies long term. We think sustainable companies are a great place to
      invest our time and money, so that's what we do.
    </div>
  </div>
  <hr class="topLine" />
  <div class="row askboundless mx-0 px-0">
    <div class="col-10 offset-2">Ask Boundless</div>
    <div class="col-7 offset-2 links">
      <div class="blogRow">
        <span class="blogtitlelink">Where do I start with an app idea?</span>
        <span class="datespan">Mar 17, 2017</span>
      </div>
      <div class="blogRow">
        <span class="blogtitlelink"
          >What do you think about my revolutionary idea?</span
        >
        <span class="datespan">Jun 15, 2017</span>
      </div>
      <div class="blogRow">
        <span class="blogtitlelink">What exactly is an MVP?</span>
        <span class="datespan">Feb 4, 2017</span>
      </div>
    </div>
  </div>

  <hr class="midLine" />

  <div class="row overadecade mx-0 px-0">
    <div class="col-10 offset-2">Over a Decade of Building</div>
    <div class="wevebeenbuilding">
      <div class="col-6 offset-2">
        <div class="span1">
          We've been building apps with early-stage companies for over a decade,
          and we've got the processes nailed down pretty well. If you're
          starting a business around a web or mobile app, we can get your
          budding company off the ground. We've got a couple different programs
          to do that, depending on the stage you're in:
        </div>
        <div class="span2">
          <div class="paraTop">Newbie</div>
          <div class="span3">
            If you're just getting started and need expert guidance, then some
            consulting help will whip your idea into shape. We'll define your
            target market, their problem/solution set, and the pricing to
            complete your offer. A little bit of planning and validation goes a
            long way to ensure you're building an app that people want.
          </div>
          <div class="span4 paraTop">Partner-ready</div>
          <span class="span5">If you've gone through our</span>
          <a
            class="span6 highlightLink"
            href="{{ site.baseurl }}/venture-partnerships/"
            >Lean App Foundation program</a
          >
          <span class="span7">
            already, or have done the customer discovery yourself, you might be
            a great fit to partner with us. We invest time, money, or both with
            the right type type of early-stage company. To find out if yours
            qualifies, head over to the
          </span>
          <a
            class="span8 highlightLink"
            href="{{ site.baseurl }}/venture-partnerships/"
            >Venture Partnerships</a
          >
          <span class="span9">page and take a look!</span>
        </div>
      </div>
    </div>
  </div>

  <hr class="midLine" />
</div>
