<section class="page-section home">
  <div class="row empty"><div class="col-xs-12"></div></div>
  <div class="row">
    <div class="col-xs-7 topSection">
      <div class="helpingpeoplegrow">
        Helping people grow ideas<br />into sustainable companies.
      </div>
    </div>
  </div>
  <div class="makeFixed"><div class="box-row2">12 1</div></div>
  <div class="row">
    <div class="col-xs-8 thirdLayer">
      <div class="box-row2">3-10 col-xs-8</div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12"><div class="box-row">5-1 col-xs-12</div></div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-4 fourthLayer">
      <div class="box-row2">3 - 6 col-xs-4</div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-5 fifthLayer">
      <div class="box-row2">3 - 7 col-xs-1</div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-12"><div class="box-row">8-1 col-xs-12</div></div>
  </div>
  <div class="row">
    <div class="col-xs-7 sixthLayer">
      <div class="box-row2">3 - 9 col-xs-7</div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-8 seventhLayer">
      <div class="box-row2">3 - 10 col-xs-8</div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-12"><div class="box-row">11-1 col-xs-12</div></div>
  </div>
  <div class="row">
    <div class="col-xs-2 eigththLayer">
      <div class="box-row2">3-4 col-xs-2</div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-8 ninthLayer">
      <div class="box-row2">3-10 col-xs-8</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"><div class="box-row">14-1 col-xs-12</div></div>
  </div>
  <div class="row">
    <div class="col-xs-3 tenthLayer">
      <div class="box-row2">3 - 5 col-xs-3</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 eleventhLayer">
      <div class="box-row2">3 - 10 col-xs-8</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"><div class="box-row">17-1 col-xs-12</div></div>
  </div>
  <div class="row">
    <div class="col-xs-8 twelfthLayer">
      <div class="box-row2">3 - 10 col-xs-8</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 twelfthLayer">
      <div class="box-row2">3 - 8 col-xs-6</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7 twelfthLayer">
      <div class="box-row2">3 - 9 col-xs-7</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 thirteenthLayer">
      <div class="box-row2">6 - 9 col-xs-4</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"><div class="box-row">22-1 col-xs-12</div></div>
  </div>
  <div class="row bottomSection">
    <div class="col-xs-2"><div class="box-row2">3-5 col-xs-2</div></div>
    <div class="col-xs-3"><div class="box-row2">8 - 3 col-xs-3</div></div>
  </div> -->
</section>
