<section class="py-5 d-sm-block">
  <div class="container">
    <div class="home-construction">
      <img src="./img/home-group-134-copy.png" class="img" />
    </div>
    <div class="row helpingpeoplegrow text-info">
      <div class="col-sm-9 offset-sm-2">
        Helping people grow ideas<br />into sustainable companies.
      </div>
    </div>
    <div class="ittakesmorethana text-info">
      <div class="col-sm-8 offset-sm-2">
        It takes more than a great technology idea to build a great company. An
        idea is a catalyst, but great companies turn that idea into a
        sustainable business model. Sustainable companies focus on revenue from
        day one, they aspire to delight customers, grow in a controlled way, and
        improve economies long term. We think sustainable companies are a great
        place to invest our time and money, so that's what we do.
      </div>
    </div>
    <img src="./img/home-line.png" class="line" />
    <div class="row askboundless text-info">
      <div class="col-sm-10 offset-sm-2">Ask Boundless</div>
      <div class="col-sm-7 offset-sm-2 links">
        <div class="blogRow">
          <span class="blogtitlelink">Where do I start with an app idea?</span>
          <span class="datespan">Mar 17, 2017</span>
        </div>
        <div class="blogRow">
          <span class="blogtitlelink"
            >What do you think about my revolutionary idea?</span
          >
          <span class="datespan">Jun 15, 2017</span>
        </div>
        <div class="blogRow">
          <span class="blogtitlelink">What exactly is an MVP?</span>
          <span class="datespan">Feb 4, 2017</span>
        </div>
      </div>
    </div>

    <img src="./img/home-line.png" class="lineSecond" />

    <div class="row overadecade text-info">
      <div class="col-sm-10 offset-sm-2">Over a Decade of Building</div>
      <div class="wevebeenbuilding text-info">
        <div class="col-sm-10 offset-sm-2">
          <span class="span1"
            >We've been building apps with early-stage companies for over a
            decade, and we've got the processes nailed down pretty well. If
            you're starting a business around a web or mobile app, we can get
            your budding company off the ground. We've got a couple different
            programs to do that, depending on the stage you're in:<br /><br /></span
          ><span class="span2 paraTop">Newbie</span
          ><span class="span3"
            ><br />If you're just getting started and need expert guidance, then
            some consulting help will whip your idea into shape. We'll define
            your target market, their problem/solution set, and the pricing to
            complete your offer. A little bit of planning and validation goes a
            long way to ensure you're building an app that people want.<br /><br /></span
          ><span class="span4 paraTop">Partner-ready</span
          ><span class="span5"><br />If you've gone through our </span
          ><span class="span6 highlightLink">Lean App Foundation program</span
          ><span class="span7">
            already, or have done the customer discovery yourself, you might be
            a great fit to partner with us. We invest time, money, or both with
            the right type type of early-stage company. To find out if yours
            qualifies, head over to the </span
          ><span class="span8 highlightLink">Venture Partnerships</span
          ><span class="span9"> page and take a look!</span>
        </div>
      </div>
    </div>
    <img src="./img/home-line.png" class="lineSecond" />
  </div>
</section>
