<div class="venturepartnershipspg">
  <div>
    <div class="appDevTitle row mx-0 px-0">
      <div class="col-10 offset-2">
        Put some experienced<br />muscle behind your hustle.
      </div>
    </div>
    <div class="row asanontechnicale">
      <div class="col-6 offset-2">
        As a non-technical entrepreneur, finding a good technology partner is
        grueling. You have the domain expertise and customer connections, but
        the tech pieces are a black box. It seems as though every technology
        expert you contact has a different solution and different pricing in
        mind, and you don't know who to trust. We're here to help. Ease your
        pain with our proven experience, a better relationship, and Lean
        methodologies that let you work your hustle to build your company right.
      </div>
    </div>
    <hr class="midLine" />
  </div>
  <br />
  <br />
  <div>
    <div class="appDevTitle row mx-0 px-0">
      <div class="col-10 offset-2">A Venture Partnership Is</div>
    </div>
    <div class="row asanontechnicale">
      <div class="col-6 offset-2">
        A venture partnership is our term for an early-stage company that enters
        into a partnership with us to build a technology company. We all invest
        effort, cash, or both while sharing company equity to create an amazing
        product together. We use a simple operating agreement to govern the
        relationship, and we offer equity buy-back guarantees to make sure
        founders get to keep the lion's share of equity in their pocket.<br /><br />We
        like the term venture partnership when compared with "ventures" or
        "partners". We're not professional investors offering convertible notes
        or SAFE agreements like venture firms. Nor are we service providers that
        over-use the term partner to describe work-for-hire relationships.
        Instead, we invest time &amp; money while sharing risk with company
        founders to become true partners in a business venture. In doing so, we
        provide the tech and business experience, and we leverage founder
        connections and hustle to get a win for everyone.<br /><br />Although we
        use the term technology company, the core competence of our venture
        partners is typically something other than technology. Coupled with our
        deep experience, that core competence is what makes the new business
        likely to succeed. Technology plays a major role as well, but our
        partners have the industry experience and customer connections to build
        the right stuff and drive growth. That's why we need our venture
        partners to be successful, and why they need us. It just works for
        everyone.
      </div>
    </div>
    <hr class="midLine" />
  </div>
  <div>
    <div class="appDevTitle row mx-0 px-0">
      <div class="col-10 offset-2">Our Venture Partnerships</div>
    </div>
    <div class="row asanontechnicale">
      <div class="col-6 offset-2">
        Although we use the term technology company, the core competence of our
        venture partners is typically something other than technology. Coupled
        with our deep experience, that core competence is what makes the new
        business likely to succeed. Technology plays a major role as well, but
        our partners have the industry experience and customer connections to
        build the right stuff and drive growth. That's why we need our venture
        partners to be successful, and why they need us. It just works for
        everyone.
      </div>
    </div>
  </div>

  <div class="row mx-0 px-0">
    <div class="col-6 offset-2 imgContainer my-4">
      <div class="slpToolKitImage">
        <img
          src="../assets/img/venture-partnerships-bitmap.png"
          class="bitmap"
        />
      </div>
    </div>
  </div>
  <div class="row asanontechnicale mx-0 px-0">
    <div class="col-sm-6 offset-sm-2 thefoundersofslp">
      The founders of SLP Toolkit came to us with an idea. Their app would allow
      school-based speech language pathologists to better manage their time and
      improve the quality of their services. SLP Toolkit allows you to be the
      very best version of you. This core purpose centered around improving
      efficiency was the catalyst for a great app. "Be your /best/" is the
      mantra of this web app that is transforming the work day for SLP's
      everywhere.<br /><br />This didn't happen all at once. With the help of
      our technology and business experience, the founders of SLP Toolkit have
      worked tirelessly to promote the company, get feedback, and validate their
      ideas. The result was a successful launch, over 10K user signups, and over
      3K paying customers in just a few years. The idea has turned into a
      thriving and sustainable company which is already making a positive impact
      on the local economy, and on your school's SLPs too!
    </div>
  </div>

  <div class="row mx-0 px-0">
    <div class="col-6 offset-2 imgContainer my-4">
      <div class="groupContainer">
        <div class="group33">
          <img
            src="../assets/img/venture-partnerships-fill-1@2x.png"
            class="fill1"
          />
          <div class="group5">
            <img
              src="../assets/img/venture-partnerships-group-5@2x.png"
              class="group51"
            />
          </div>
          <div class="group8">
            <img
              src="../assets/img/venture-partnerships-group-8@2x.png"
              class="group81"
            />
          </div>
          <img
            src="../assets/img/venture-partnerships-fill-9@2x.png"
            class="fill9"
          />
          <img
            src="../assets/img/venture-partnerships-fill-11@2x.png"
            class="fill11"
          />
          <img
            src="../assets/img/venture-partnerships-fill-13@2x.png"
            class="fill13"
          />
          <img
            src="../assets/img/venture-partnerships-fill-15@2x.png"
            class="fill15"
          />
          <img
            src="../assets/img/venture-partnerships-fill-17@2x.png"
            class="fill17"
          />
          <img
            src="../assets/img/venture-partnerships-fill-19@2x.png"
            class="fill19"
          />
          <img
            src="../assets/img/venture-partnerships-fill-21@2x.png"
            class="fill21"
          />
          <img
            src="../assets/img/venture-partnerships-fill-23@2x.png"
            class="fill23"
          />
          <img
            src="../assets/img/venture-partnerships-fill-25@2x.png"
            class="fill25"
          />
          <img
            src="../assets/img/venture-partnerships-fill-27@2x.png"
            class="fill27"
          />
          <img
            src="../assets/img/venture-partnerships-fill-29@2x.png"
            class="fill29"
          />
          <img
            src="../assets/img/venture-partnerships-fill-31@2x.png"
            class="fill31"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="row asanontechnicale mx-0 px-0">
    <div class="col-sm-6 offset-sm-2 thefoundersofslp">
      The founders of Parts Detect wanted to make life easier for mechanics. The
      app allows automotive repair professionals and enthusiasts to find
      aftermarket and OEM parts within seconds. Just scan the vehicle's VIN
      barcode and search on a part to see location, warranty, and availability
      from different venders. The app eliminates time-consuming searches and
      vehicle matching by automating the end-to-end process.<br /><br />However,
      uniting large part vendors in this fractured industry to display inventory
      in a good way posed a daunting technical challenge. There is no standard
      to match parts with vehicle year/make/model, and each vendor has it's own
      search interface, so integration of multiple sources is a challenge to say
      the least. With our experienced guidance to stand on, the Parts Detect
      founders have successfully on-boarded three major national vendors with
      more in the works. Over 750 mechanics have signed up to give the app a
      whirl, and the system processes over $6K worth of orders each month as we
      roll through pilot testing. Good things are around the corner as we grow
      this app!
    </div>
  </div>

  <!-- Scripts -->
</div>
