<div class="container-fluid {{ page.title }}SignUp">
  <div class="row text-info mx-0 px-0">
    <div class="col-12 col-sm-8 offset-sm-2 signUpCopy py-4">
      Sign up for Curated Content
    </div>
    <div class="col-12 col-sm-8 offset-sm-2 py-4 joinCopy">
      Join our email newsletter and we’ll send you curated articles about being
      an entrepreneur.
    </div>
    <div class="col-12 col-sm-7 offset-sm-2 py-4">
      <div class="row mx-0 px-0">
        <input
          type="text"
          class="col-sm-3 {{ page.title }}InputField"
          placeholder="Your Name"
        />
        <input
          type="text"
          class="col-sm-6 ml-sm-2 ml-xs-0 mr-sm-2 mr-xs-0 {{
            page.title
          }}InputField"
          placeholder="Email"
        />
        <button class="col-sm-2 signUpBtn btn">SIGN UP</button>
      </div>
    </div>
  </div>
</div>
