.appdevelopment {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 1599px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: rgba(255, 255, 255, 1);
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
.appdevelopment .rectangle {
  background-color: rgba(60, 3, 32, 1);
  top: calc(0% - 4px);
  height: calc(100% + 9px);
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.appdevelopment .appdevelopmentcont {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 231px);
  height: calc(100% - 1419px);
  width: calc(100% - 500px);
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}

.appdevelopment .asanontechnicale {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 440px);
  height: calc(100% - 1419px);
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 242px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}

.appdevelopment .signupforcuratedcopy {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 766px);
  height: calc(100% - 1481px);
  width: calc(100% - 521px);
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.appdevelopment .joinouremailnewslcopy {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 960px);
  height: calc(100% - 1532px);
  width: calc(100% - 632px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}

.appdevelopment .yournamecopy2 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 510px);
  height: auto;
  width: calc(100% - 1280px);
  position: absolute;
  margin: 0;
  left: calc(0% + 254px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.appdevelopment .emailcopy2 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 510px);
  height: auto;
  width: calc(100% - 1236px);
  position: absolute;
  margin: 0;
  left: calc(0% + 558px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}

.rectanglecopy3AppDev {
  background-color: rgba(255, 255, 255, 0.7);
  right: 0%;
  top: calc(0% + 251px);
  height: 77px;
  width: 134px;
  position: fixed;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.workwithusAppDev {
  background-color: rgba(255, 255, 255, 0);
  top: 261px;
  right: calc(0% + 34px);
  height: auto;
  width: 85px;
  margin: 4px auto;
  left: 1321px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important !important;
  font-size: 24px;
  color: #36091f;
  text-align: right;
  line-height: 23px;
}

.appdevelopment .rectanglecopy7 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 490px);
  height: 58px;
  width: calc(100% - 1305px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.appdevelopment .rectanglecopy6 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 490px);
  height: 58px;
  width: calc(100% - 1120px);
  position: absolute;
  margin: 0;
  left: calc(0% + 541px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.appdevelopment .groupcopy {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 490px);
  height: 58px;
  width: calc(100% - 1450px);
  position: absolute;
  margin: 0;
  left: calc(0% + 1030px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.appdevelopment .groupcopy .rectanglecopy31 {
  background-color: rgba(252, 252, 252, 1);
  height: 60px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.appdevelopment .groupcopy .signup {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 510px);
  height: 60px;
  width: 99px;
  margin: 0;
  left: calc(0% + 1045px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: center;
  line-height: 31px;
  color: #273135;
}
