body {
  margin: 0px;
  width: 100%;
  min-width: 1440px;
}

a {
  text-decoration: none;
  color: white;
  line-height: 24px;
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 22px;
  margin: 0px 5px;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
  line-height: 24px;
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 22px;
  margin: 0px 5px;
}

.venturepartnerships {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 71px);
  height: auto;
  width: 520px;
  position: absolute;
  margin: 0;
  left: calc(0% + 820px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
  z-index: 100;
}

.boundless {
  top: calc(0% + 41px);
  height: auto;
  width: calc(100% - 1243px);
  position: absolute;
  margin: 0;
  left: calc(0% + 114px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
  z-index: 100;
}
