@font-face {
  font-family: "BarlowCondensed-SemiBold";
  src: url("../fonts/BarlowCondensed-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
}

.home {
  height: 100vh;
  min-height: 3048px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: rgba(255, 255, 255, 1);
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}

.home .rectangle {
  background-color: rgba(37, 49, 53, 1);
  top: 0px;
  height: 3058px;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .group134copy {
  background-color: rgba(255, 255, 255, 0);
  top: 396px;
  height: 289px;
  width: 595px;
  position: absolute;
  margin: 0;
  left: 27px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .helpingpeoplegrow {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 231px);
  height: auto;
  width: calc(100% - 405px);
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.home .boundless {
  background-color: rgba(255, 255, 255, 0);
  top: 41px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 114px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}
.home .ittakesmorethana {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 440px);
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 242px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.home .venturepartnerships {
  background-color: rgba(255, 255, 255, 0);
  top: 71px;
  height: auto;
  width: 522px;
  position: absolute;
  margin: 0;
  left: 818px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.home .askboundlesscopy {
  background-color: rgba(255, 255, 255, 0);
  top: 780px;
  height: auto;
  width: calc(100% - 938px);
  position: absolute;
  margin: 0;
  left: calc(0% + 248px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.65;
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.home .overadecadeofbuicopy {
  background-color: rgba(255, 255, 255, 0);
  top: 1289px;
  height: auto;
  width: calc(100% - 506px);
  position: absolute;
  margin: 0;
  left: calc(0% + 243px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.home .signupforcurated {
  background-color: rgba(255, 255, 255, 0);
  top: 2194px;
  height: auto;
  width: calc(100% - 521px);
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.home .joinouremailnewsl {
  background-color: rgba(255, 255, 255, 0);
  top: 2320px;
  height: auto;
  width: calc(100% - 632px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}

.home .rectanglecopy5 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 582px);
  height: 58px;
  width: 18%;
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .rectanglecopy6 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 582px);
  height: 58px;
  width: 30%;
  position: absolute;
  margin: 0;
  left: calc(0% + 541px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.home .yournamecopy {
  background-color: rgba(255, 255, 255, 0);
  top: 2415px;
  height: auto;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 254px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.home .email {
  background-color: rgba(255, 255, 255, 0);
  top: 2415px;
  height: auto;
  width: 206px;
  position: absolute;
  margin: 0;
  left: 558px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.home .groupcopy {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 582px);
  height: 58px;
  width: calc(100% - 1317px);
  position: absolute;
  margin: 0;
  left: calc(0% + 1032px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .groupcopy .rectanglecopy31 {
  background-color: rgba(252, 252, 252, 1);
  top: 0px;
  height: 58px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .groupcopy .signup {
  background-color: rgba(255, 255, 255, 0);
  top: 8px;
  height: auto;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 12px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 26px;
  color: #273135;
  text-align: center;
  line-height: 31px;
}
.home .rectanglecopy3 {
  background-color: rgba(255, 255, 255, 0.7);
  top: calc(0% + 300px);
  height: 77px;
  width: 135px;
  position: fixed;
  margin: 0;
  left: calc(100% - 135px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .workwithus {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 310px);
  height: auto;
  width: 85px;
  position: fixed;
  margin: 0;
  left: calc(100% - 115px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}
.home .linecopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1183px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .linecopy4 {
  background-color: rgba(255, 255, 255, 0);
  top: 683px;
  height: 2px;
  width: 1372px;
  position: absolute;
  margin: 0;
  left: 82px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .linecopy3 {
  background-color: rgba(255, 255, 255, 0);
  top: 2099px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .rectangle1 {
  background-color: rgba(255, 255, 255, 0.7);
  top: 1007px;
  height: 42px;
  width: 240px;
  position: absolute;
  margin: 0;
  left: 249px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .rectanglecopy {
  background-color: rgba(255, 255, 255, 0.7);
  top: 951px;
  height: 42px;
  width: 458px;
  position: absolute;
  margin: 0;
  left: 249px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .rectanglecopy2 {
  background-color: rgba(255, 255, 255, 0.7);
  top: 895px;
  height: 42px;
  width: 331px;
  position: absolute;
  margin: 0;
  left: 249px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.home .wevebeenbuilding {
  background-color: rgba(255, 255, 255, 0);
  top: 1427px;
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 247px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 26px;
}
.home .wevebeenbuilding .span1 {
  line-height: 31px;
}
.home .wevebeenbuilding .span2 {
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  line-height: 58px;
}
.home .wevebeenbuilding .span3 {
  line-height: 31px;
}
.home .wevebeenbuilding .span4 {
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  line-height: 58px;
}
.home .wevebeenbuilding .span5 {
  line-height: 31px;
}
.home .wevebeenbuilding .span6 {
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  line-height: 31px;
  text-decoration: underline;
}
.home .wevebeenbuilding .span7 {
  line-height: 31px;
}
.home .wevebeenbuilding .span8 {
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  line-height: 31px;
  text-decoration: underline;
}
.home .wevebeenbuilding .span9 {
  line-height: 31px;
}
.home .wheredoistartwit {
  background-color: rgba(255, 255, 255, 0);
  top: 886px;
  height: auto;
  width: calc(100% - 676px);
  position: absolute;
  margin: 0;
  left: calc(0% + 258px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(36, 48, 54, 1);
  text-align: left;
  line-height: 56px;
  text-decoration: underline;
}
.home .wheredoistartwit .span1 {
}
.home .wheredoistartwit .span2 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 1);
}
.home .wheredoistartwit .span3 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 15px;
}
.home .wheredoistartwit .span4 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 1);
}
.home .wheredoistartwit .span5 {
}
.home .wheredoistartwit .span6 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 1);
}
.home .wheredoistartwit .span7 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 15px;
}
.home .wheredoistartwit .span8 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 1);
}
.home .wheredoistartwit .span9 {
}
.home .wheredoistartwit .span10 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 1);
}
.home .wheredoistartwit .span11 {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 15px;
}

.home .venturepartnershipscopy {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 474px);
  height: auto;
  width: calc(100% - 920px);
  position: absolute;
  margin: 0;
  left: calc(0% + 630px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.home .quoralinkedintwittcopy {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 263px);
  height: auto;
  width: calc(100% - 1221px);
  position: absolute;
  margin: 0;
  left: calc(0% + 246px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 24px;
}
