.venturepartnershippg {
  width: 100%;
  height: 100vh;
  min-height: 5249px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: #4c5d22;
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}

div {
  -webkit-text-size-adjust: none;
}
.venturepartnershippg .rectangle {
  background-color: rgba(76, 93, 34, 1);
  top: calc(0% - 6px);
  height: calc(100% + 12px);
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .rectangle1 {
  background-color: rgba(0, 0, 0, 0.3);
  top: 2131px;
  height: 470px;
  position: absolute;
  margin: 0;
  left: 238px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  width: calc(100% - 474px);
}
.venturepartnershippg .rectanglecopy {
  background-color: rgba(0, 0, 0, 0.3);
  top: 3185px;
  height: 470px;
  width: calc(100% - 474px);
  position: absolute;
  margin: 0;
  left: calc(0% + 238px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .putsomeexperienced {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 231px);
  height: auto;
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg .aventurepartnershi {
  background-color: rgba(255, 255, 255, 0);
  top: 798px;
  height: auto;
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg .ourventurepartners {
  background-color: rgba(255, 255, 255, 0);
  top: 1736px;
  height: auto;
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg .boundless {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 41px);
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: calc(0% + 114px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg .asanontechnicale {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 440px);
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 242px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .venturepartnershippg1 {
  background-color: rgba(255, 255, 255, 0);
  right: calc(0% + 100px);
  top: calc(0% + 71px);
  height: auto;
  width: 522px;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.venturepartnershippg .rectanglecopy3 {
  background-color: rgba(255, 255, 255, 0.7);
  right: 0%;
  top: calc(0% + 251px);
  height: 77px;
  width: 134px;
  position: fixed;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.venturepartnershippg .aventurepartnershi1 {
  background-color: rgba(255, 255, 255, 0);
  top: 912px;
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 247px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .aventurepartnershi2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1877px;
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 247px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .thefoundersofslp {
  background-color: rgba(255, 255, 255, 0);
  top: 2649px;
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .thefoundersofpart {
  background-color: rgba(255, 255, 255, 0);
  top: 3687px;
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .linecopy5 {
  background-color: rgba(255, 255, 255, 0);
  top: 717px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .linecopy8 {
  background-color: rgba(255, 255, 255, 0);
  top: 1634px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .bitmap {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 2153px;
  left: calc(0% + 281px);
  margin: 0;
  width: calc(100% - 567px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .linecopy7 {
  background-color: rgba(255, 255, 255, 0);
  top: 105px;
  height: 2px;
  width: 161px;
  position: absolute;
  margin: 0;
  left: 840px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .linecopy6 {
  background-color: rgba(255, 255, 255, 0);
  top: 4351px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .venturepartnershippgcopy2 {
  background-color: rgba(255, 255, 255, 0);
  right: calc(0% + 290px);
  bottom: calc(0% + 405px);
  height: auto;
  width: 522px;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.venturepartnershippg .signupforcuratedcopy {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 4395px);
  height: auto;
  width: calc(100% - 521px);
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.venturepartnershippg .joinouremailnewslcopy {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 592px);
  height: auto;
  width: calc(100% - 632px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .quoralinkedintwittcopy2 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 194px);
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  left: calc(0% + 246px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 24px;
}
.venturepartnershippg .rectanglecopy7 {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 4595px);
  height: 58px;
  width: calc(100% - 1310px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .rectanglecopy8 {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 4595px);
  height: 58px;
  width: calc(100% - 1120px);
  position: absolute;
  margin: 0;
  left: calc(0% + 541px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .a2512018boundlessprocopy2 {
  background-color: rgba(255, 255, 255, 0);
  right: calc(0% + 290px);
  bottom: calc(0% + 177px);
  height: auto;
  width: 221px;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  line-height: 24px;
}
.venturepartnershippg .yournamecopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 4605px);
  height: auto;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 254px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .emailcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 4605px);
  height: auto;
  width: 206px;
  position: absolute;
  margin: 0;
  left: 558px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnershippg .groupcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 4595px);
  height: 58px;
  width: calc(100% - 1470px);
  position: absolute;
  margin: 0;
  left: calc(0% + 1032px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .groupcopy2 .rectanglecopy31 {
  background-color: rgba(252, 252, 252, 1);
  top: 0px;
  height: 58px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .groupcopy2 .signup {
  background-color: white;
  top: 0px;
  height: 50px;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 12px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: #4f5c2b;
  text-align: center;
  line-height: 31px;
}
.venturepartnershippg .group33 {
  background-color: rgba(255, 255, 255, 0);
  top: 3254px;
  height: 330px;
  width: 476px;
  position: absolute;
  margin: 0;
  left: 481px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 182px;
  width: 211px;
  position: absolute;
  margin: 0;
  left: 145px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .group5 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 100px;
  position: absolute;
  margin: 0;
  left: 376px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .group5 .group51 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 78px;
  width: 100px;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .group8 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 100px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .group8 .group81 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 78px;
  width: 100px;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill9 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 301px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill11 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 289px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill13 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 40px;
  position: absolute;
  margin: 0;
  left: 361px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill15 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 403px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill17 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 31px;
  position: absolute;
  margin: 0;
  left: 445px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill19 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 31px;
  position: absolute;
  margin: 0;
  left: 332px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill21 {
  background-color: rgba(255, 255, 255, 0);
  top: 160px;
  height: 23px;
  width: 18px;
  position: absolute;
  margin: 0;
  left: 349px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill23 {
  background-color: rgba(255, 255, 255, 0);
  top: 169px;
  height: 2px;
  width: 2px;
  position: absolute;
  margin: 0;
  left: 352px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill25 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 96px;
  position: absolute;
  margin: 0;
  left: 104px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill27 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 206px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill29 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 250px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershippg .group33 .fill31 {
  background-color: rgba(255, 255, 255, 0);
  top: 54px;
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0;
  left: 202px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.venturepartnershippg .workwithusVP {
  background-color: rgba(255, 255, 255, 0);
  right: calc(0% + 34px);
  top: calc(0% + 262px);
  height: auto;
  width: 85px;
  position: fixed;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "Helvetica", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}
