// ----------------------------------------------
// Colors
// ----------------------------------------------

$color__primary: darkcyan;
$color__secondary: tomato;
$color__text: #242424;
$color__grey: darkgrey;
$color__grey-light: lightgray;

// ----------------------------------------------
// Typography
// ----------------------------------------------
$font__primary: sans-serif;
$font__secondary: Georgia, serif;
$line-height: 1.5;

// ----------------------------------------------
// Size
// ----------------------------------------------
$a5px: 5px;
$a845px: 845px;
$a520px: 520px;
$a483px: 483px;
$a938px: 938px;
$a506px: 506px;
$a521px: 521px;
$a632px: 632px;
$a1145px: 1145px;
$a955px: 955px;
$a1280px: 1280px;
$a1236px: 1236px;
$a1317px: 1317px;
$a221px: 221px;
$a68px: 68px;
$a221px: 221px;
$a1200px: 1200px;
$a982px: 982px;
$a1109px: 1109px;
$a483px: 483px;
$a676px: 676px;
$a10px: 10px;
$a396px: 396px;
$a27px: 27px;
$a231px: 231px;
$a236px: 236px;
$a41px: 41px;
$a114px: 114px;
$a440px: 440px;
$a242px: 242px;
$a100px: 100px;
$a71px: 71px;
$a290px: 290px;
$a474px: 474px;
$a248px: 248px;
$a243px: 243px;
$a736px: 736px;
$a236px: 236px;
$a661px: 661px;
$a240px: 240px;
$a263px: 263px;
$a246px: 246px;
$a582px: 582px;
$a240px: 240px;
$a582px: 582px;
$a541px: 541px;
$a290px: 290px;
$a246px: 246px;
$a589px: 589px;
$a254px: 254px;
$a589px: 589px;
$a558px: 558px;
$a582px: 582px;
$a1032px: 1032px;
$a34px: 34px;
$a250px: 250px;
$a34px: 34px;
$a234px: 234px;
$a82px: 82px;
$a234px: 234px;
$a249px: 249px;
$a249px: 249px;
$a249px: 249px;
$a247px: 247px;
$a258px: 258px;

$a9px: 9px;
$a1419px: 1419px;
$a1139px: 1139px;
$a1419px: 1419px;
$a483px: 483px;
$a221px: 221px;
$a920px: 920px;
$a521px: 521px;
$a632px: 632px;
$a1221px: 1221px;
$a1145px: 1145px;
$a955px: 955px;
$a1221px: 1221px;
$a1280px: 1280px;
$a1236px: 1236px;
$a1317px: 1317px;
$a1343px: 1343px;

$a231px: 231px;
$a236px: 236px;
$a41px: 41px;
$a114px: 114px;
$a440px: 440px;
$a242px: 242px;
$a100px: 100px;
$a71px: 71px;
$a251px: 251px;
$a34px: 34px;
$a262px: 262px;
$a234px: 234px;
$a360px: 360px;
$a105px: 105px;
$a403px: 403px;
$a630px: 630px;
$a665px: 665px;
$a236px: 236px;
$a590px: 590px;
$a240px: 240px;
$a192px: 192px;
$a246px: 246px;
$a511px: 511px;
$a240px: 240px;
$a511px: 511px;
$a541px: 541px;
$a175px: 175px;
$a931px: 931px;
$a518px: 518px;
$a254px: 254px;
$a518px: 518px;
$a558px: 558px;
$a511px: 511px;
$a1032px: 1032px;
$a517px: 517px;
$a1045px: 1045px;

$a6px: 6px;
$a474px: 474px;
$a560px: 560px;
$a643px: 643px;
$a614px: 614px;
$a483px: 483px;
$a483px: 483px;
$a483px: 483px;
$a483px: 483px;
$a483px: 483px;
$a567px: 567px;
$a521px: 521px;
$a632px: 632px;
$a1145px: 1145px;
$a955px: 955px;
$a1317px: 1317px;

$a12px: 12px;
$a238px: 238px;
$a231px: 231px;
$a236px: 236px;
$a236px: 236px;
$a236px: 236px;
$a41px: 41px;
$a114px: 114px;
$a440px: 440px;
$a242px: 242px;
$a100px: 100px;
$a71px: 71px;
$a251px: 251px;
$a34px: 34px;
$a262px: 262px;
$a247px: 247px;
$a247px: 247px;
$a240px: 240px;
$a240px: 240px;
$a281px: 281px;
$a290px: 290px;
$a405px: 405px;
$a667px: 667px;
$a236px: 236px;
$a592px: 592px;
$a240px: 240px;
$a194px: 194px;
$a246px: 246px;
$a513px: 513px;
$a240px: 240px;
$a513px: 513px;
$a541px: 541px;
$a290px: 290px;
$a177px: 177px;
$a513px: 513px;
$a1032px: 1032px;
