@font-face {
  font-family: "BarlowCondensed-SemiBold";
  src: url("../fonts/BarlowCondensed-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
}

.coaching {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}

.asanontechnicale {
  height: auto;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  text-align: left;
  line-height: 31px;
}

.linecopy5 {
  background-color: rgba(255, 255, 255, 0);
  height: 2px;
  width: 1221px;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.linecopy7 {
  background-color: rgba(255, 255, 255, 0);
  height: 2px;
  width: 63px;
  margin: 0;
  left: 1018px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.signupforcuratedcopy {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: 921px;
  margin: 0;
  left: 236px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.joinouremailnewslcopy {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: 810px;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}

.rectanglecopy7 {
  background-color: rgba(255, 255, 255, 0);
  height: 58px;
  width: 295px;
  margin: 0;
  left: 240px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.coaching .rectanglecopy8 {
  background-color: rgba(255, 255, 255, 0);
  height: 58px;
  width: 485px;
  margin: 0;
  left: 541px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.coaching .a2512018boundlessprocopy2 {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: 221px;
  margin: 0;
  left: 929px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  line-height: 24px;
}
.coaching .a2512018boundlessprocopy2 .span1 {
}
.coaching .a2512018boundlessprocopy2 .span2 {
  font-family: "BarlowCondensed-Bold", Helvetica, Arial, serif;
}
.coaching .a2512018boundlessprocopy2 .span3 {
}

.coachingText {
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 6.3em;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 1.05em;
}

.coachingTitle {
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 6.3em;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 1.05em;
}
