.navbar {
  .nav-item {
    font-size: 1.2rem;
    margin: 0;
    font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  }
}

.nav-link {
  color: $menu !important;
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;

  &:hover {
    color: $menu !important;
  }
}

.homeHeader {
  background-color: rgba(37, 49, 53, 1);
}

.coachingHeader {
  background-color: rgba(108, 72, 0, 1);
}

.partnershipsHeader {
  background-color: #4f5c2b;
}

.appDevHeader {
  background-color: rgba(60, 3, 32, 1);
}

.aboutHeader {
  background-color: rgba(76, 93, 34, 1);
}

.askHeader {
  background-color: rgba(76, 93, 34, 1);
}

.boundless {
  height: auto;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}

.venturepartnershipspg {
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 18px;
}

.joinCopy {
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  padding-bottom: 2rem;
}

.signUpCopy {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 6.3em;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 1.05em;
}

.signupRow {
  font-size: 1rem !important;
  height: 58px;
  align-items: center;
}

input {
  font-size: 26px !important;
  height: 58px;
  color: white;
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif !important;
  border-bottom-color: #bfc2c3 !important;
  border-left-color: #bfc2c3 !important;
  border-right-color: #bfc2c3 !important;
  border-top-color: #bfc2c3 !important;
  border-style: solid;
  margin-top: 1rem;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  text-align: left;
}

input:focus {
  outline: none !important;
}

input::placeholder {
  color: white;
}

.signUpBtn {
  background-color: white !important;
  height: 58px;
  color: #273135;
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif !important;
  font-size: 26px !important;
  border-radius: 0px !important;
  margin-top: 1rem;
}

body {
  width: 100% !important;
  overflow-x: hidden !important;
}

.homeBody {
  background-color: rgba(37, 49, 53, 1) !important;
  overflow-x: hidden !important;
}

.coachingBody {
  background-color: rgba(108, 72, 0, 1);
  overflow-x: hidden !important;
  color: #d2c9b9 !important;

  .midLine {
    width: 85%;
    left: 15%;
    border-color: #7a6032 !important;
  }
}

.partnershipsBody {
  background-color: #4f5c2b;
  overflow-x: hidden !important;
  .midLine {
    width: 85%;
    left: 15%;
    border-color: #64733f !important;
  }
}

.appDevBody {
  background-color: rgba(60, 3, 32, 1) !important;
  overflow-x: hidden !important;
}

.aboutBody {
  background-color: rgba(76, 93, 34, 1);
  overflow-x: hidden !important;
}

.askBody {
  background-color: rgba(76, 93, 34, 1);
  overflow-x: hidden !important;
}

.workWithUsContainer {
  background-color: rgba(255, 255, 255, 0.7);
  top: 250px;
  height: 77px;
  width: 134px;
  position: fixed;
  margin: 0;
  left: calc(100% - 134px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.workwithus {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: 85px;
  margin: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}

.homeInputField {
  background-color: rgba(37, 49, 53, 1) !important;
  overflow-x: hidden !important;
}

.coachingInputField {
  background-color: #523a11;
  overflow-x: hidden !important;
  border-color: #837358 !important;
}

.partnershipsInputField {
  background-color: #4f5c2b;
  overflow-x: hidden !important;
}

.appDevInputField {
  background-color: rgba(60, 3, 32, 1);
  overflow-x: hidden !important;
}

.aboutInputField {
  background-color: rgba(76, 93, 34, 1);
  overflow-x: hidden !important;
}

.askInputField {
  background-color: rgba(76, 93, 34, 1);
  overflow-x: hidden !important;
}

.imgContainer {
}

.bitmap {
  background-color: #354017 !important;
}

.venturepartnershipspg .group33 {
  background-color: rgba(255, 255, 255, 0);
  height: 400px;
  width: 525px;
  position: relative;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  margin-top: 3rem;
}
.venturepartnershipspg .group33 .fill1 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 182px;
  width: 211px;
  position: absolute;
  margin: 0;
  left: 145px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .group5 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 100px;
  position: absolute;
  margin: 0;
  left: 376px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .group5 .group51 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 78px;
  width: 100px;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .group8 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 100px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .group8 .group81 {
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 78px;
  width: 100px;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill9 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 301px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill11 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 289px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill13 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 40px;
  position: absolute;
  margin: 0;
  left: 361px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill15 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 403px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill17 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 31px;
  position: absolute;
  margin: 0;
  left: 445px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill19 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 31px;
  position: absolute;
  margin: 0;
  left: 332px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill21 {
  background-color: rgba(255, 255, 255, 0);
  top: 160px;
  height: 23px;
  width: 18px;
  position: absolute;
  margin: 0;
  left: 349px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill23 {
  background-color: rgba(255, 255, 255, 0);
  top: 169px;
  height: 2px;
  width: 2px;
  position: absolute;
  margin: 0;
  left: 352px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill25 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 96px;
  position: absolute;
  margin: 0;
  left: 104px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill27 {
  background-color: rgba(255, 255, 255, 0);
  top: 208px;
  height: 78px;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 206px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill29 {
  background-color: rgba(255, 255, 255, 0);
  top: 299px;
  height: 31px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 250px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipspg .group33 .fill31 {
  background-color: rgba(255, 255, 255, 0);
  top: 54px;
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0;
  left: 202px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.groupContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #373f1d !important;
}
