.homeSignUp {
  background-color: rgba(37, 49, 53, 1);
  width: 100%;
}

.coachingSignUp {
  background-color: rgba(108, 72, 0, 1);
  width: 100%;
}

.partnershipsSignUp {
  background-color: #4f5c2b;
  width: 100%;
}

.appDevSignUp {
  background-color: rgba(60, 3, 32, 1);
  width: 100%;
}

.aboutSignUp {
  background-color: rgba(76, 93, 34, 1);
  width: 100%;
}

.askSignUp {
  background-color: rgba(76, 93, 34, 1);
  width: 100%;
}
