@font-face {
  font-family: "BarlowCondensed-SemiBold";
  src: url("../fonts/BarlowCondensed-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
}

.appdevelopment {
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  min-height: 1599px;
  position: relative;
  overflow: hidden;
  margin: 0px;
  background-color: rgba(255, 255, 255, 1);
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}

div {
  -webkit-text-size-adjust: none;
}
.rectangle {
  background-color: rgba(60, 3, 32, 1);
  top: 0px;
  height: 1608px;
  width: 1440px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.appdevelopmentcont {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 231px);
  height: auto;
  width: calc(100% - 873px);
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.boundless {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 41px);
  height: auto;
  width: calc(100% - 1243px);
  position: absolute;
  margin: 0;
  left: calc(0% + 114px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  color: rgba(252, 252, 252, 1);
  text-align: left;
  line-height: 90px;
}
.asanontechnicale {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 440px);
  height: auto;
  width: calc(100% - 483px);
  position: absolute;
  margin: 0;
  left: calc(0% + 242px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.venturepartnerships {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 71px);
  height: auto;
  width: calc(100% - 920px);
  position: absolute;
  margin: 0;
  left: calc(0% + 820px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.rectanglecopy3 {
  background-color: rgba(255, 255, 255, 0.7);
  top: calc(0% + 251px);
  height: 77px;
  width: calc(100% - 1306px);
  position: absolute;
  margin: 0;
  left: calc(0% + 1306px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.workwithus {
  background-color: rgba(255, 255, 255, 0);
  top: calc(0% + 262px);
  height: auto;
  width: calc(100% - 1357px);
  position: absolute;
  margin: 0;
  left: calc(0% + 1323px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: right;
  line-height: 27px;
}
.linecopy5 {
  background-color: rgba(255, 255, 255, 0);
  top: 717px;
  height: 2px;
  width: 1221px;
  position: absolute;
  margin: 0;
  left: 233px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.linecopy7 {
  background-color: rgba(255, 255, 255, 0);
  top: 105px;
  height: 2px;
  width: 137px;
  position: absolute;
  margin: 0;
  left: 1100px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.venturepartnershipscopy2 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 403px);
  height: auto;
  width: calc(100% - 920px);
  position: absolute;
  margin: 0;
  left: calc(0% + 630px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(66, 66, 66, 1);
  text-align: right;
  line-height: 22px;
}
.signupforcuratedcopy {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 665px);
  height: auto;
  width: calc(100% - 521px);
  position: absolute;
  margin: 0;
  left: calc(0% + 236px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 92px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  line-height: 90px;
}
.joinouremailnewslcopy {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 590px);
  height: auto;
  width: calc(100% - 632px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.quoralinkedintwittcopy2 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 192px);
  height: auto;
  width: calc(100% - 1221px);
  position: absolute;
  margin: 0;
  left: calc(0% + 246px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 24px;
}
.rectanglecopy7 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 511px);
  height: 58px;
  width: calc(100% - 1145px);
  position: absolute;
  margin: 0;
  left: calc(0% + 240px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.rectanglecopy8 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 511px);
  height: 58px;
  width: calc(100% - 955px);
  position: absolute;
  margin: 0;
  left: calc(0% + 541px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.a2512018boundlessprocopy2 {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 175px);
  height: auto;
  width: calc(100% - 1221px);
  position: absolute;
  margin: 0;
  left: calc(0% + 931px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  opacity: 0.8;
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  line-height: 24px;
}
.a2512018boundlessprocopy2 .span1 {
}
.a2512018boundlessprocopy2 .span2 {
  font-family: "BarlowCondensed-Bold", Helvetica, Arial, serif;
}
.a2512018boundlessprocopy2 .span3 {
}
.yournamecopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1037px;
  height: auto;
  width: 162px;
  position: absolute;
  margin: 0;
  left: 254px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.emailcopy2 {
  background-color: rgba(255, 255, 255, 0);
  top: 1037px;
  height: auto;
  width: 206px;
  position: absolute;
  margin: 0;
  left: 558px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-Regular", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  line-height: 31px;
}
.rectanglecopy31 {
  background-color: rgba(252, 252, 252, 1);
  top: 1030px;
  height: 58px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 1032px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.signup {
  background-color: rgba(255, 255, 255, 0);
  bottom: calc(0% + 517px);
  height: auto;
  width: calc(100% - 1343px);
  position: absolute;
  margin: 0;
  left: calc(0% + 1045px);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "BarlowCondensed-SemiBold", Helvetica, Arial, serif;
  font-size: 26px;
  color: rgba(252, 252, 252, 1);
  text-align: center;
  line-height: 31px;
}
