<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <script src="../assets/javascript/modernizr-3.6.0.min.js" async></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
    async
  ></script>
  <script>
    window.jQuery ||
      document.write(
        '<script src="js/vendor/jquery-3.3.1.min.js" async><\/script>'
      );
  </script>
  <script src="../assets/javascript/bootstrap/jquery.min.js" async></script>
  <script src="../assets/javascript/plugins.js" async></script>
  <script src="../assets/javascript/main.js" async></script>

  <body class="container-fluid p-0">
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <section class="{{ page.title }}Body">
      {%- include header.html -%} {%- include appdevContent.html -%}
    </section>
    {%- include signup.html -%} {%- include footer.html -%}
  </body>
</html>
