<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav.html %} {% include home.html %}
    <div class="quoralinkedintwittcopy">
      <a href="https://in.linkedin.com/company/boundless-automation-llc">
        Quora
      </a>
      <a href="https://in.linkedin.com/company/boundless-automation-llc">
        LinkedIn
      </a>
      <br />
      <a href="https://in.linkedin.com/company/boundless-automation-llc">
        Twitter
      </a>
      <br />
      <a href="https://in.linkedin.com/company/boundless-automation-llc">
        Google+
      </a>
      <br />
      <a href="https://in.linkedin.com/company/boundless-automation-llc">
        Medium
      </a>
      <br />
      <a href="https://in.linkedin.com/company/boundless-automation-llc">
        Email
      </a>
    </div>
    <div class="a2512018boundlessprocopy">
      <span class="span1">© 2018 </span><span class="span2">BOUNDLESS</span
      ><span class="span3"
        ><br />Proudly owned and operated in<br />Phoenix, Arizona<br /><br />522
        North Central Ave #292<br />Phoenix, AZ 85001</span
      >
    </div>
    <footer>here is footer</footer>
  </body>
</html>
